<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ebshop.mapper.BookMapper">

    <resultMap id="BookResultMap" type="com.example.ebshop.dto.response.BookResponse">
        <id column="id" property="id"/>
        <result column="isbn" property="isbn"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="quantity" property="quantity"/>
    </resultMap>

    <select id="findBookByIsbn" parameterType="String" resultMap="BookResultMap">
        select book.id, book.isbn, book.name, book.price, book.quantity
        from book
        where book.isbn = #{isbn}
    </select>

    <select id="searchBook" parameterType="com.example.ebshop.dto.request.BookSearch" resultMap="BookResultMap">
        select b.id, b.isbn, b.name,b.price, b.quantity
        from book b
        join publisher p on b.publisherid = p.id
        join book_author ba on ba.bookid = b.id
        join author a on a.id = ba.authorid
        where b.status = #{bookSearch.status}
        <if test="bookSearch.isbn!=null">
            and b.isbn = #{bookSearch.isbn}
        </if>
        <if test="bookSearch.name!=null and bookSearch.name">
            and b.name like #{bookSearch.name}
        </if>
        <if test="bookSearch.authorISBN!=null">
            and a.isbn = #{bookSearch.authorISBN}
        </if>
        <if test="bookSearch.publisherISBN!=null">
            and p.isbn = #{bookSearch.publisherISBN}
        </if>
        <if test="bookSearch.firstPrice!=null">
            <if test="bookSearch.lastPrice!=null">
                and b.price between #{bookSearch.firstPrice} and #{bookSearch.lastPrice}
            </if>
        </if>
        order by b.name and b.price
    </select>

    <insert id="insertBook" parameterType="com.example.ebshop.model.Book">
        insert into book (isbn, name, price, quantity, status, publisherid)
            value (#{isbn},#{name}, #{price}, #{quantity}, #{status},#{publisher})
    </insert>

    <insert id="insertBookAuthor" parameterType="com.example.ebshop.dto.request.BookAuthorRequest">
        insert into book_author(bookid, authorid)
            value (#{bookId},#{authorId})
    </insert>

    <delete id="deleteBookInBookAuthor" parameterType="int">
        delete
        from book_author
        where book_author.bookid = #{id};
    </delete>

    <update id="updateBook">
        update
            book
        set isbn        = #{book.isbn},
            name        = #{book.name},
            price       = #{book.price},
            quantity    = #{book.quantity},
            status      = #{book.status},
            publisherid = #{book.publisher}
        where book.id = #{id}
    </update>

    <update id="deleteBook" parameterType="String">
        update
            book
        set status = true
        where book.isbn = #{isbn}
    </update>

</mapper>