<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ebshop.mapper.PublisherMapper">
    <resultMap id="PublisherResultMap" type="com.example.ebshop.model.Publisher">
        <id column="id" property="id"/>
        <result column="isbn" property="isbn"/>
        <result column="name" property="name"/>
    </resultMap>

    <resultMap id="ListBookInPublisherResultMap" type="com.example.ebshop.dto.request.ListElement">
        <result column="name" property="name"/>
    </resultMap>

    <select id="findAllPublisher" resultMap="PublisherResultMap">
        SELECT *
        FROM publisher
    </select>
    <select id="findPublisherByIsbn" resultMap="PublisherResultMap">
        SELECT *
        FROM publisher
        WHERE isbn = #{isbn}
    </select>

    <select id="findListBookInPublisherByIsbn" resultMap="ListBookInPublisherResultMap">
        SELECT book.name
        FROM publisher
                 join book
                      on publisher.id = book.publisherid
        where publisher.isbn = #{isbn}
    </select>

    <select id="topBookList" resultMap="ListBookInPublisherResultMap">
        select book.name
        from publisher
                 join book on publisher.id = book.publisherid
                 join oderdetail on oderdetail.bookid = book.id
        where publisher.isbn = #{isbn}
        group by book.name
        order by sum(oderdetail.quantity) desc limit 5
    </select>


    <insert id="insertPublisher" parameterType="com.example.ebshop.model.Publisher">
        INSERT INTO Publisher(isbn, name)
        VALUES (#{isbn}, #{name })
    </insert>

    <update id="updatePublisher">
        UPDATE
        Publisher SET
        <if test="publisher.isbn!=null">isbn=#{publisher.isbn},</if>
        <if test="publisher.name!=null">name=#{publisher.name}</if>
        WHERE isbn=#{isbn}
    </update>

    <delete id="deletePublisher" parameterType="String">
        DELETE
        FROM Publisher
        WHERE isbn = #{isbn}
    </delete>


</mapper>